body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-gray-dark;
    padding: 3rem;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden;
    /* 요소의 뒷쪽에서 앞면이 보이게 할지 정하는 속성이지만 */
    /* 여기서는 애니메이션 마지막에 shaky한 움직임 방지 */

    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        /* animation-iteration-count: 3; */
        /* animation-delay: 3s; */
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;

        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
}