/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
            rgb(126, 213, 111, 0.8),
            rgb(40, 180, 133, 0.8)),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    /* 상단 고정, 아래 부분이 잘리게 함 */
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    /* clip-path: polygon(50% 0, 100% 100%, 0 100%); triangle, clippy 사이트 참고*/
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

/* .logo:hover {
    animation: moveInRight 1s ease-out;
} */

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    /* 내부 요소 전부 text이므로 가운데 정렬 위해 center 사용 */
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    /* 요소의 뒷쪽에서 앞면이 보이게 할지 정하는 속성이지만 */
    /* 여기서는 애니메이션 마지막에 shaky한 움직임 방지 */

    margin-bottom: 60px;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    /* initial state에 모든 효과(all)의 지속시간을 지정 */
    position: relative;
    /* btn::after 위함 */
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
    /* 클릭시 그림자가 덜 보이는 디테일 */
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    /* 여기에서 % 기준은 버튼 크기 */

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* 버튼 뒤로 보냄 */

    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    /* 크기를 키움 */
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
    /* 애니메이션 시작 이전에 요소를 invisible하게 하는 간단한 속성*/
}